
<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="display()">
  <a class="navbar-brand" href="#">
    <img src="../assets/img/logo-poks.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    Pokémon
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav item-menu">
      <a class="nav-item nav-link active" [routerLink]="(['/pokemons/all'])">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" [routerLink]="(['/pokemons/pokeapi'])">Pokemon-api</a>
      <button class="btn btn-outline-success my-2 my-sm-0" (click)="logout()">Logout</button>
    </div>

  </div>

</nav>

<router-outlet></router-outlet>
