<div class="container-fluid">
        <div class="ctn-search-input">
                <input #searchBox (keyup)="search(searchBox.value)"
                  placeholder="Rechercher un pokémon" class="searh-input"/>
          </div> 
          <div class="ctn-collection">
              <div class="collection">
                <a *ngFor="let pokemon of pokemons$ | async" 
                  (click)="gotoDetail(pokemon)" class="collection-item">
                  {{ pokemon.name }}
                  <hr />
                </a>
              </div>
          </div> 
   </div>